<!-- Container for sidebar(s) + page content -->
    <ng-sidebar-container class="ng-sidebar-container--animate">

      <!-- A sidebar -->
      <ng-sidebar [(opened)]="_opened" #sidebar>
        <p>Sidebar contents</p>
        <button (click)="sidebar.close()">Close sidebar</button>
        <p><a closeSidebar>Closes the sidebar</a></p>
        <ul>
          <li><button routerLink="/employees">Karyawan</button></li>
          <li><button routerLink="/schedules">Jadwal</button></li>
          <li></li>
        </ul>
        <!--<div aria-hidden="false" class="ng-sidebar__backdrop" tabindex="-1"></div> -->
      </ng-sidebar>

      <!-- Page content -->
      <button class="demo-header__toggle" (click)="sidebar.open()"></button>

      
</ng-sidebar-container>