<md-card>
  <form class="form-horizontal" [formGroup]="formadd">
    <md-toolbar color="primary">
      Karyawan
    </md-toolbar>
    <md-grid-list cols="2">
      <md-grid-tile>
        <md-list>
          <md-list-item>
            <md-input-container>
              <input mdInput placeholder="Nama" id="name" formControlName="name" [ngModel]="employee?.name">
            </md-input-container>
          </md-list-item>
          <md-list-item>
            <md-input-container>
              <input mdInput placeholder="No Telepon" id="phone" formControlName="phone" [ngModel]="employee?.phone">
            </md-input-container>
          </md-list-item>
          <md-list-item>
            <md-select placeholder="Jenis Kelamin" formControlName="gender" [ngModel]="employee?.gender">
              <md-option>None</md-option>
              <md-option value="male">Male</md-option>
              <md-option value="female">Female</md-option>
            </md-select>
          </md-list-item>
          <md-list-item>
            <md-input-container>
              <input mdInput formControlName="dob" [ngModel]="employee?.dob" [mdDatepicker]="picker" placeholder="Tanggal Lahir">
              <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker>
          </md-list-item>
        </md-list>
      </md-grid-tile>
      <md-grid-tile>
        <md-list>
          <md-list-item>
            <i id="upload" class="glyphicon glyphicon-camera" (click)="fileInput.click()"></i>
            <img class="img" [src]="uploadURL" (click)="fileInput.click()">
          </md-list-item>
          <md-list-item>
            <input #fileInput name="imageUrl" id="imageUrl" type="file" (change)="imgProcess($event)" accept="image/*" formControlName="imageUrl"
            />
          </md-list-item>
        </md-list>
      </md-grid-tile>
    </md-grid-list>

    <button md-button (click)="gotoEmployees()">Back</button>
    <button md-button (click)="save(formadd.value)">Submit</button>
  </form>
</md-card>
<!-- 
 
  <tr>
    <td><label for="gender">Image : </label></td>
    <td>
      <i id="upload" class="glyphicon glyphicon-camera" (click)="fileInput.click()"></i>
      <img class="img" [src]="uploadURL" (click)="fileInput.click()">
      <input #fileInput  name="imageUrl" id="imageUrl" type="file" 
                    (change)="imgProcess($event)" accept="image/*" 
                    formControlName="imageUrl"/>
    </td>
  </tr>
  <tr>
    
  </tr>
  
  
</form>

</table>  -->